body{
    text-align: center;
    background-color: #FFF0F5;
  }
  .navbar{
    width: 100%;
    color: #000000;
    font-family: verdana;
    background-color: #FAEBD7;

  }
  .portofolio:hover{
    background-color: #6495ED;
    font-family: arial;
  }
  .profile:hover{
    background-color: #6495ED;
    font-family: arial;
  }
  .home:hover{
    background-color: #6495ED;
    font-family: arial;

  }
  h1{
    font-family: verdana;
  }
  p{
    font-family: arial;
  }
img{
  width: 200px;
  height:150px;
}
@media (max-height: 200px){
  img{
    width: 150px;
    height:75px;
  }
}
header{
  display:flex;  
  font-size: 30px;
}
header .navbar{
  position:fixed;
}
.welcome-section{
   padding-top: 0px;
  margin-top: 0px;
  display: block;
  height: 100vh;
}